@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/* Base Styles */

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

.page-container {
	max-width: 1200px;
	/* margin: 0 auto; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	/* align-items: center; */
}

h1, h2, h3, h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
    font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 10px;
}

/* Header Styles */

header h1 {
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.menu li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	/* padding: 0 10px; */
	list-style: none;
	line-height: 2.3em;
}


.menu a {
	text-decoration: none;
	color:#77a466;
}

.menu a:hover {
	color: #333;
}

/* Top Section Styles */

.top-section,
.bottom-section {
	/* display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; */
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.575em;
}

/* Bottom Section Styles */

.flex-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	width: 100%;
	/* padding: 0 10px; */
}

.flex-grid-one,
.flex-grid-two,
.flex-grid-three {
	width: 100%;
	/* width: 33%; */
	height: auto;
	border-top: 1px solid #eee;
}

.flex-grid-one h4 {
	padding: 10px 30px;
}

.flex-grid-two h4,
.flex-grid-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 30px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.3125em;
}

/* Footer Styles */

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/***** Media Queries ******/

/* Tablet Styles */

@media screen and (min-width: 768px) {
	.flex-grid-one,
	.flex-grid-two,
	.flex-grid-three {
		/* width: 100%; */
		width: 33%;
		height: 25vh;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	.flex-grid-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	footer {
		margin-top: 20px;
	}
}


/* Desktop Styles */

@media screen and (min-width: 1200px) {
	.menu-container {
		display: flex;
		justify-content: center;
		width: 1200px;
	}
	.menu {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	nav ul {
		flex-direction: row;
	}
	nav ul li {
		/* align-content: flex-end; */
	}
	.menu li {
		align-content: flex-end;
		padding: 10px 0 10px 30px;
	}
	header .flex-container {
		justify-content: flex-start;
	}
	header h1 {
		border: none;
	}
	footer {
		border: none;
	}
}

